<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <table class="table table-bordered table-hover table-striped" style="width:70rem;">
        <thead class="thead-dark">
            <tr>
                <th colspan="4">Domaci</th>
                <th colspan="4">Mesto</th>
                <th colspan="4">Datum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">Glavni sudija:</td>
                <td colspan="3">Ime i prezime</td>
                <td colspan="3">Ime i prezime</td>
                <td colspan="3">Prvi pomocni</td>
            </tr>
            <tr>
                <td colspan="3">Delegat:</td>
                <td colspan="3">Ime i prezime</td>
                <td colspan="3">Ime i prezime</td>
                <td colspan="3">Drugi pomocni</td>
            </tr>
            <tr>
                <td colspan="3">Lekar:</td>
                <td colspan="3">Ime i prezime</td>
                <td colspan="3"></td>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>